replicaCount: 3

image:
  repository: quay.io/coreos/etcd
  pullPolicy: IfNotPresent
  tag: "v3.5.21"

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true
