deployment:
  cluster:
    bootstrap:
      dns: true
    dataPath:
      cluster: /mnt
      host: /mnt
    k8sVersion: v1.33.1-k3s1
    name: docker-k3s
    registry:
      enabled: true
      mirror:
        endpoints: []
    services:
      ingressController: false
      loadBalancer: false
      metricsServer: false
      storageProvisioner: false
    volumeMounts: []
  environment: k3d
infra:
  rootDomain: local.cluster.dev
  tls:
    privateCA:
      commonName: universe.com
      countryCode: UC
      emailAddress: mail@universe.com
      locality: Mirach
      organization: Constellation
      organizationUnit: Development
      state: Andromeda
