apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values | get (tpl "apps.{{ .Release.Name }}.namespace" .) }}
spec:
  template:
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "2"
