caConfig:
  selfSigned: {{ .Values.global.tls.ca.selfSigned }}
  commonName: {{ .Values.infra.rootDomain }}
  secret:
    name: {{ .Values.global.tls.ca.secretName | quote }}
  issuer:
    name: {{ .Values.global.tls.ca.issuerName }}
tls:
  configMap:
    name: {{ .Values.global.tls.cert.configMap.name }}
    key: {{ .Values.global.tls.cert.configMap.key }}
